{% extends 'base.html' %}
{% block content %}

<!--about-->
<div class="container">
  <div class="row">
    <div class="col m6 s12">
      <img class="circle responsive-img z-depth-3" src="/static/media/panda1.png">
    </div>
    <div class="col m6 s12 grey-text">
      <h2>Hi!</h2>
      <p class="flow-text">
        I am a techie with an interest in both software and hardware. I particularly enjoy programming with Python, and tinkering with things like laptops, raspberry pi's and really anything I can take apart with a screwdriver or screw with in a text editor or terminal. A recent web development intership at an awesome local company called Kinetic helped me realize the importance of programming fundamentals, and inspired me to better understand the universal principles behind writing good code that apply to all programming languages. I'm trying to build a solid foundation in technology that will be strong enough to support growth into whatever new and exciting opportunities may come my way.
      </p>
    </div>
  </div>
  <br><br>
  <!--Experience-->
  <div class="container">
    <div class="row">
      <div class="col s12 header grey-text">
        <p class="flow-text light-blue-text">I have some experience in the following areas:</p>
      </div>
    </div>
    <div class="row">
      <table class="centered striped grey-text">
        <thead>
          <tr>
            <th>Programming Languages</th>
            <th>Software</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HTML</td>
            <td>Windows 10</td>
            <td>Bash Scripting</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>Mac OS</td>
            <td>CMS</td>
          </tr>
          <tr>
            <td>Javascript</td>
            <td>Affinity Photo</td>
            <td>Wordpress</td>
          </tr>
          <tr>
            <td>PHP</td>
            <td>Affinity Designer</td>
            <td>Raspberry Pi</td>
          </tr>
          <tr>
            <td>MySQL</td>
            <td>Gitbucket</td>
            <td>Virtualbox</td>
          </tr>
          <tr>
            <td>Python</td>
            <td>Beyond Compare</td>
            <td>LAMP</td>
          </tr>
          <tr>
            <td>Django</td>
            <td>Linux</td>
            <td>Alexa</td>
          </tr>
          <tr>
            <td>Postgres</td>
            <td>Github.. of course</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- links to old site and github -->
    <div class="col s12 m6 light-grey">
      <br><br>
      <div class="card horizontal z-depth-1">
        <div class="card-image">
          <img class="grey" src="/static/media/whiteLogo.png">
        </div>
        <div class="card-stacked">
          <div class="card-content light-grey light-blue-text">
            <p>Check out my github code or find me on Linkedin. On github you'll find a few things that I've worked on in the past, like a PHP todo app, and some things I'm presently working on.</p>
          </div>
          <div class="card-action">
            <a href="https://www.linkedin.com/in/cor-jones/">Linkedin</a>
            <a href="https://github.com/corfucius">github.com/corfucius</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}