{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- gallery -->
<section id="gallery" class="section section-gallery scrollspy">
  <div class="container">
    <h4 class="center">
      <span class="grey-text">Photo Gallery</span>
    </h4>
    <div class="row">
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/beach.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/bee.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/bigflower.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/bird.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/cactus.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/mamau.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/surf.jpg">
      </div>
    <div class="row">
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/mountains.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/oldman.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/prickley.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/sunflower.jpg">
      </div>
      <div class="col s12 m3">
        <img class="materialboxed responsive-img gallery" src="/static/gallery/sunset.jpg">
      </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}