{% extends 'base.html' %}

{% block content %}

  <!--hero-->
<div class="container">
  <div class="row">
    <img class="z-depth-3 responsive-img" src="/static/media/djangoHero.jpg">
    <div class="caption center grey-text">
        <h3>Thanks for stopping by!</h3>
        <p class="grey-text flow-text">
          Hello and welcome! This site is powered by the Django and Materialize
          frameworks. Have a look around and check out my blog for updates or the gallery for a look at some cool pics I've taken over the years.
        </p>
    </div>
  </div>
</div>

{% endblock %}
