{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!--hero-->
<div class="container">
  <div class="row">
    <img class="z-depth-3 responsive-img" src="/static/media/djangoHero.jpg">
    <div class="caption center grey-text">
        <h3>Thanks for visiting!</h3>
        <p class="grey-text flow-text">
          Hey there! I'm Corey and I'd like to welcome you to my site. It is powered by the Django and Materialize
          frameworks. Have a look around and please check out my blog for news and rants or the gallery for a look at
          some cool pics and a few older projects.
        </p>
    </div>
  </div>
</div>

{% endblock %}
